
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    width:100vw;
    height:100vh;
}

@mixin flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.MainWrapper{
    width:100vw;
    height:100vh;
    background-color:rgb(5, 50, 118);
    color:rgb(249, 236, 200);
    font-style: italic;
    font-weight:bold;
    @include flex;

    h1{
        font-size:2rem;
        margin-bottom:10px;

    }

    p{
        padding:10px;
        font-size:1.5rem;
    }
    button{
        padding:10px 20px;
        border-radius:5px;
        border:none;
        background-color:rgb(128, 167, 193);
        color:rgb(249, 236, 200);
        width:10%;
        font-size:1.5rem;
        font-weight:bold;
        margin-top:20px;
        cursor: pointer;

       
    }
    button:hover{
        background-color:rgb(87, 128, 168);
    }
}
.popUpWrapper::before {
    content: "";
    background-image: url(../Assets/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(7px);
  }
  
  .popUpContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:50%;

   
  }
  
  .image{
    img{
        width:100%;
        height:100%;
        border-radius:5px 0 0 5px;
    }
  }

  .content{
   @include flex;
   background-image: linear-gradient(to bottom, rgba(127,200,210,255), rgba(213,241,244,255),
   rgba(95,193,210,255));
   border-radius:0 5px 5px 0;


   input{
    margin:15px;
    padding:10px 20px;
    outline: none;
    border:none;
    color:#ca0b12;
    font-style: italic;
    font-size: 1rem;
    border-radius:5px;
   }

   h3{
    color:#ca0b12;
   }

   button{
    background-color:#ca0b12;
    color:white;
    padding:10px 20px;
    width:100px;
    border:none;
    cursor: pointer;
   }
  }